:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}


@font-face{
    font-family: "outfit";
    src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
    /* weights are: 400, 600, 700 */
}

@font-face{
    font-family: "young-serif";
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    /* weights are: 400 */
}

/*https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, p, h1, h2, h3{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--stone150);
    font-family: "outfit", sans-serif;
    color: var(--stone600);
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2{
    font-family: "young-serif", sans-serif;
    color: var(--stone900);
}

h2, h3{
    color: var(--rose800);
    font-weight: 400;
}

h1{
    font-weight: 700;
    font-size: 40px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 20px;
}

hr{
    border: 1px solid var(--stone150);
    padding: 0;
}

.emphasis{
    font-weight: 800;
}

li{
    margin: 10px 0;
    line-height: 150%;
}

li::marker{
    color: var(--rose800);
}

/*https://css-tricks.com/finally-it-will-be-easy-to-change-the-color-of-list-bullets/ */

ul, ol{
    padding: 0 16px;
}

ul{
    list-style: square;
}

ol li::marker{
    font-weight: 800;
}

.liItems{
    margin-left: 16px;
}

main{
    display: flex;
    background-color: var(--white);
}

.recipeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    gap: 32px;
}

.recipeCard div, .recipeCard img{
    width: 100%;
}

.recipeIntro {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.recipeSummary {
    border-radius: 10px;
}

.recipeSummaryContainer{
    background-color: var(--rose50);
    border-radius: 10px;
    padding: 16px;
}

.recipeNutritionCard {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.recipeNutritionTable {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.recipeNutritionRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipeNutritionRow p {
    padding-left: 24px;
    width: 50%;
}

.recipeNutritionStats {
    color: var(--rose800);
    font-weight: 600;
}

/* attribution */

footer{
    font-size: clamp(12px, 14px, 14px);
    padding: 16px;
    display: flex;
    width: 100%;
    gap: 16px;
    color: var(--stone600);
}

a, a:active, a:visited{
    color: var(--rose800);
}

.credits{
    display: flex;
    align-items: center;
    gap: 5px;
}

.credits:hover{
    cursor: pointer;
    color: var(--rose800);
}

#arrow{
    transform: rotate(-90deg);
}

.attribution{
    display: none;
}

@media (width >= 500px) {
    main{
        margin: 75px 0;
        border-radius: 20px;
        padding: 40px;
    }

    .recipeHero {
        overflow: hidden;
        border-radius: 10px;
    }

    hr{
        width: 100%;
    }

}

@media (width < 500px){
    .recipeSummary,.recipeIngredients,.recipeInstructions, .recipeIntro{
        margin: 0 30px;
        padding: 0 24px;
    }

    .recipeNutritionCard{
        margin: 0 30px;
        padding: 0 24px 48px 24px;
    }

    hr{
        width: 85%;
    }
}